@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
    color: var(--dark-blue);
}

#heading {
    color: var(--purple);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

#device.card:hover,
#device.card:focus {
    border: 1;
    transition-duration: 0.3s;
    border-color: var(--primary)!important;
}

form label,
label {
    font-size: x-small;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--secondary);
}

.card {
    border: 1;
    border-color: transparent;
    transition-duration: 0.3s;
    transition-property: border-color;
}

.alert-info {
    background-color: var(--info);
    color: var(--dark-blue);
}

.nav {
    &-link {
        &.active {
            color: var(--primary);
            &.rounded-pill {
                background-color: var(--info);
            }
        }
        color: var(--secondary);
    }
}

$light-red: #FECBC3;
.btn {
    &-info {
        color: var(--primary)!important;
    }
    font-weight: bold;
    padding: 8px 24px;
    &-danger {
        color: var(--danger)!important;
        background-color: $light-red;
        border: 0;
        &:hover:not(:disabled),
        &:focus {
            background-color: scale-color($color: $light-red, $lightness: -10%);
            color: scale-color($color: $light-red, $lightness: -15%);
        }
        &:disabled {
            background-color: scale-color($color: $light-red, $lightness: -10%);
            color: scale-color($color: $light-red, $lightness: -15%);
        }
    }
}

.breadcrumb {
    padding: 0;
    background-color: transparent;
    &-item+.breadcrumb-item {
        &.active {
            color: var(--secondary);
        }
        &::before {
            color: var(--secondary);
            content: '>\00a0';
        }
    }
}

.form-control {
    border: 1px solid #dfe1e5;
    &:focus {
        border-color: white;
    }
}

.form-control,
.btn {
    border-radius: 10px;
    border-width: 1px;
    &:focus {
        box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.2) !important;
    }
}

.sidebar {
    .nav-link {
        color: var(--secondary);
        font-weight: bold;
        transition-duration: 0.3s;
        transition-property: color;
        &:hover,
        &:focus {
            color: var(--dark);
            transition-duration: 0.3s;
        }
        &.active {
            color: var(--primary);
        }
    }
    .nav-item {
        padding-top: .5em;
        svg {
            margin-right: 1em;
        }
    }
}

#current-active {
    margin: 0!important;
}

.card-columns.profile-card {
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
}

// @import "../../node_modules/bootstrap/scss/bootstrap";